<%
	const Sitemap = require('sitemap');
	const { combineUrlWithHostname } = require('sitemap/hostname');
    // get the page directly to hook it into webpack dev build process
	const page = Sitemap.getPage(Page);

	const pageAlts = Sitemap.getPageAlternatives(page.id);

	const Locale = page.output.locale;
	const Strings = page.output.copy;
	const BaseUrl = page.output.href;

	const title = page.output.title || 'Title';
	const description = page.output.description || 'Description';
	const canonical = page.canonical || '/';
	const image = page.output.image ? combineUrlWithHostname(require('../../../assets/img/og-image/' + page.output.image) || '') : '';

	const faviconIco = require('../../../assets/img/favicon/zajno.ico');
%>

<!DOCTYPE html>
<html lang="<%= Locale %>">
<head>

	<meta charset="utf-8">

	<title><%= title %></title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="<%= description %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:title" content="<%= title %>" />

	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="<%= canonical %>">
	<meta property="og:site_name" content="<%= title %>">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:image" content="<%= image %>">
	<meta property="og:image:alt" content="<%= description %>">

	<!-- no script logic -->
	<% if (page.id != 'noScript') { %>
	<noscript>
		<meta http-equiv="refresh" content="0;url=/no-script.html">
	</noscript>
	<% } else { %>
	<script> window.location.href = '/' </script>
	<% } %>

	<!--Twitter-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="<%= image %>">
	<!-- <meta name="twitter:site" content="@twitter account"> -->
	<meta name="twitter:title" content="<%= title %>">
	<meta name="twitter:description" content="<%= description %>">

	<!-- i18n alternatives for search engines -->
	<% pageAlts.links.forEach(p => { const { lang, url } = p  %>
		<link rel="alternate" hreflang="<%= lang %>" href="<%= url %>" />
	<% }) %>
	<% if (pageAlts.default) { %>
	<link rel="alternate" hreflang="x-default" href="<%= pageAlts.default %>" />
	<% } %>

	<!-- Favicon -->
	<link rel="shortcut icon" href="<%= faviconIco %>" type="image/x-icon">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap" rel="stylesheet">

	@require('../scripts/window.appReady.html')

	<%=
        // Application CSS files
        htmlWebpackPlugin.files.css.map(src =>
		`
	<link href="${src}" rel="stylesheet">`
      ).join("\n")
    %>

</head>

<body class="locale-<%= Locale %>">
